@import '../../../assets/scss/variable';

.tool-bar {
    height: 95px;
    border-bottom: 6px Solid $theme-red;
    .brand-logo {
        // background: url('../../../assets/imgs/UHD\ Logo-Horizontal.svg');
    }
    .brand-text {
        font-family: "Myriad Pro Regular";
        color: $blue;
        opacity: 0.7;
        font-size: 26px;
        width: 54%;
        text-align: end;
        line-height: 32px;
        .phone-number {
            color: $theme-red;
        }
    }
}

@media (max-width: 1200px){
    .tool-bar {
        .brand-text{
            font-size: 20px;
        }
        .brand-logo img{
            max-width: 250px;
        }
    }
}
@media (max-width: 991px){
    .tool-bar {
        height: auto;
        .brand-text{
            font-size: 18px;
        }
    }
}
@media (max-width: 767px){
    .tool-bar {
        .brand-text{
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            display: none;
        }
        .brand-logo{
            padding: 10px 0;
            text-align: center;
            img{
                max-width: 180px;
            }
        }
    }

}
