<div class="tool-bar py-2">
    <div class="container d-block d-md-flex align-items-center justify-content-between">
        <div class="brand-logo">
            <img src="./assets/imgs/Logo-Horizontal.png" alt="logo">
        </div>
        <div class="brand-text">
            Call <span class="phone-number"> 713-221-8522</span> to speak to an Admissions Counselor
                or complete the form below to learn more!
        </div>
    </div>
</div>