<div class="home">
    <section class="banner position-relative">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide">
                <img src="./assets/imgs/background.png" alt="" width="100%">
                <div class="slider-text  position-absolute">
                    <div class="container">
                        The First Step in Your Life-Changing Experience
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <img src="./assets/imgs/background.png" alt="" width="100%">
                <div class="slider-text  position-absolute">
                    <div class="container">
                        The First Step in Your Life-Changing Experience
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <img src="./assets/imgs/background.png" alt="" width="100%">
                <div class="slider-text  position-absolute">
                    <div class="container">
                        The First Step in Your Life-Changing Experience
                    </div>
                </div>
            </div>
          
        </ngx-slick-carousel>
        <div class="request-form">
            <div class="header p-3 d-flex align-items-center">
                <img src="./assets/imgs/info.png" class="mr-2" alt="info-img">
                <span>request information</span>
            </div>
            <form class="form" [formGroup]="requestForm">
                <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control"  
                  id="first-name" 
                  formControlName="firstName"  
                  [class.invalid-field]=" requestForm.controls.firstName.touched  && requestForm.controls.firstName.invalid"
                  placeholder="First Name" 
                  required>
                </div>
                <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    id="last-name" 
                    formControlName="lastName" 
                    [class.invalid-field]=" requestForm.controls.lastName.touched  && requestForm.controls.lastName.invalid" 
                    placeholder="Last Name"
                    required>
                </div>
                <div class="form-group">
                    <input type="email" 
                    class="form-control" 
                    id="email"
                    formControlName="email"  
                    [class.invalid-field]=" requestForm.controls.email.touched  && requestForm.controls.email.invalid" 
                    placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="number" 
                        class="form-control" 
                        id="phone-number" 
                        [class.invalid-field]=" requestForm.controls.phoneNumber.touched  && requestForm.controls.phoneNumber.invalid" 
                        formControlName="phoneNumber" 
                        placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <select class="form-control" 
                        placeholder="Program of Interest" 
                        formControlName="interest"
                        [class.invalid-field]=" requestForm.controls.interest.touched  && requestForm.controls.interest.invalid" >
                        <option value="B.Tech">B.Tech</option>
                        <option value="B.Sec">B.Sec</option>
                        <option value="M.Tech">M.Tech</option>
                        <option class="B.Com">B.Com</option>
                      </select>
                </div>
                <div class="form-group">
                    <select class="form-control" 
                            placeholder="Program Delivery Type" 
                            formControlName="deliveryType"
                        [class.invalid-field]=" requestForm.controls.deliveryType.touched  && requestForm.controls.deliveryType.invalid" >
                        <option value="computer Science"> computer Science</option>
                        <option value="other">other</option>
                      </select>
                </div>
                <div class="form-group">
                    <select class="form-control" 
                            placeholder="Program Communication Type"
                             formControlName="communicationType"
                             [class.invalid-field]=" requestForm.controls.communicationType.touched  && requestForm.controls.communicationType.invalid" >>
                        <option value="phone">Phone</option>
                        <option value="email">email</option>
                      </select>
                </div>
                <button  class="btn btn-block submit-button" 
                    [disabled]="requestForm.invalid">Learn More Today!</button>
              </form>
        </div>
    </section>
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3 class="heading">About University of Houston–Downtown</h3>
                    <div class="text">
                        <p>
                            UHD is a dynamic university offering bachelor’s 
                            and master’s degrees at multiple locations across 
                            Houston and online. You can design your future from an 
                            academic program that sparks your passion and connects you with 
                            fellow students, businesses and the community.
                        </p>

                        <p>
                            When you step onto our campus it’s like walking into the heart of 
                            downtown Houston. You’re just steps away from Fortune 500 companies, 
                            world-renowned arts organizations, award-winning restaurants, exciting entertainment 
                            and professional sports. UHD is woven into the vibrant streets of the fourth largest
                            city in the United States and has urban
                            appeal that celebrates the multicultural vibe of Houston.
                        </p>

                        <p>
                            If you’re a recent high school graduate, 
                            transfer student, or career-changing professional 
                            looking for an environment that offers flexibility and sets 
                            you up for success, UHD has the right opportunity for you.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./assets/imgs/way_us.png" alt="about-image" class="about-image">
                </div>
            </div>
        </div>
    </section>
    <section class="fetures">
        <div class="container">
            <h3 class="heading"> Featured Degrees at UHD</h3>
            <div class="text">
                <p>
                    UHD’s high-caliber undergraduate and graduate
                    degree programs were designed with your busy life in mind.
                    Whether you’re returning to finish your degree or launching an entirely
                    new direction, you’ll find the flexibility and support you need here.
                </p>
                <div class="feature-list d-flex flex-wrap" >
                    <div class="items text-uppercase"  *ngFor="let item  of featureArray;let i = index;" 
                        [class.active]="item.isActive" (click)="changeFeature(i)">
                        {{item.label}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-details">
        <div class="container">
             <div class="title text-center">Why Choose UHD?</div>
             <div class="row px-3">
                 <div class="col-md-4  py-5 details-items text-center">
                    <span class="title-details-items ">Affordability</span>
                    <p class="text">
                        With the lowest tuition of any university in Houston, UHD provides an excellent education at 
                        an affordable rate, freeing up your income while in school, and leaving you with less 
                        debt after graduation. Our goal is to make the financial part 
                        of education as stress-free as possible so you focus on earning your degree.
                    </p>
                 </div>
                 <div class="col-md-4 py-5 details-items text-center">
                    <span class="title-details-items">Flexibility</span>
                    <p class="text">
                        Work-life balance can be tough. That’s why we offer a wide range of day, 
                        evening, weekend, online and hybrid course options to fit every schedule. 
                        UHD ranks #22 among top colleges for adults returning to school according to Best College Reviews. 
                        With locations across Houston and online, we can fit any schedule!
                    </p>
                 </div>
                 <div class="col-md-4  py-5 details-items text-center">
                    <span class="title-details-items">Earning Ability</span>
                    <p class="text">
                        UHD ranks as one of the best Texas universities 
                        based on alumni salary. First-year earnings of UHD grads 
                        are the third highest in the state according to College Measures. 
                        A degree from UHD will set you up with a strong earning potential
                    </p>
                 </div>
             </div>
        </div>
    </section>
</div>
