@import '../../../assets/scss/variable';

@mixin heading {
    color: $blue;
    font-family: "Futura Std Bold";
    font-size: 18px;
}

@mixin  text {
    font-size: 15px;
    line-height: 29px;
    font-family: "Myriad Pro Regular";
}

::ng-deep {
    .slider-text {
        width: 100%;
        bottom: 0;
        color: white;
        background: $blue;
        opacity: 0.7;
        font-family: "Garamond Regular";
        font-size: 26px;
        padding: 20px 0px;
        font-family: "Myriad Pro Regular";
    }
}


.about-us {
    padding: 60px 0px;
    .heading {
       @include heading;
    }

    .text {
        @include text;
    }
    img{
        max-width: 100%;
    }

}

.fetures {
    padding: 40px 0px;
    .heading {
       @include heading;
    }

    .text {
        @include text;
    }
    .feature-list {
        .items {
            flex: 1 0 calc(25% - 10px);
            margin: 5px;
            background: $gray;
            padding: 15px;
            text-align: center;
            font-family: "Futura Std Book";
            color: $blue;
            cursor: pointer;
            &.active {
                color: $white;
                background: $theme-red;
            }
        }
    }
}

.features-details {
    .title {
        background: $blue;
        color: $white;
        padding: 15px;
        opacity: 0.6;
        font-size: 18px;
        font-family: "Futura Std Bold";
    }

    .details-items {
        position: relative;
        .title-details-items {
            font-family: "Garamond Regular" ;
            color: $blue;
            font-size: 26px;
            padding: 18px;
            display: block
        }
        .text {
            font-family: "Myriad Pro Regular";
            font-size: 15px;
            line-height: 26px;
            padding: 0px 33px;
            color: $dark-gray;
        }

        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $blue;
            top: 0px;
            opacity: 0.6;
            transform: translate(-50%, 0%);
        }
    }
}


.banner{
    height: 530px;
    .carousel{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        &::after{
            content:'';
        clear: both;
        display: block;
        }
    }
    &::after{
        content:'';
        clear: both;
        display: block;
    }
    .slide{
        max-height: 530px;
        height: 530px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    
}

.request-form {
    position: relative;
    z-index: 2;
    float: right;
    top: 17px;
    right: 204px;
    width: 428px;
    background: $blue-light;
    .header {
        position: relative;
        background: $blue;
        color: $white;
        opacity: 1;
        text-transform: uppercase;
        font-family: "Futura Std Book";
        img {
            width: 25px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $blue;
            bottom: -10px;
            left: 17px;
        }
    }

    .form {
        padding: 20px;
        background: transparent;

        input {
            border:0px;
            border-radius:0px;
            font-family: "Myriad Pro Regular";
            font-size: 15px;
            &:focus {
                outline: unset;
                box-shadow: unset;
            }
        }

        .invalid-field {
            box-shadow: 0 0 0 0.1rem rgb(244 67 54 / 42%) !important;
        }

        ::placeholder {
            font-family: "Myriad Pro Regular";
            font-size: 15px;
        }
        select {
            @extend input;
        }
        .submit-button {
            background: $theme-red;
            color: $white;
            text-align: center;
            font-family: "Futura Std Bold";
            padding:10px 0px;
            border-radius: unset;
            &:focus {
                outline: unset;
                box-shadow: unset;
            }
        }
    }
}

@media (max-width:1400px){
    .request-form{
        right: 80px;
    }
}
@media (max-width:1200px){
    .request-form{
        right: 60px;
        width: 358px;
    }
}

@media (max-width:991px){
    .banner{
        height: auto;
        .carousel{
            position: relative;
            .slide{
                max-height: 280px;
                height: 280px;
                img{
                    height: 100%;
                    object-fit: cover;
                    object-position: left center;
                }
            }
        .slider-text{
            font-size: 18px;
            padding: 15px 0;
        }
        } 
        .request-form{
            float: unset;
            right: unset;
            margin: 0 auto;
            width: 428px;
            max-width: 90%;
        }
        
    }
    .features-details .details-items .text{
        padding: 0 20px;
    }
}

@media (max-width:767px) {
    .about-us{
        padding-bottom: 20px;
    }
    .slider-text{
        font-size: 18px;
        padding: 15px 0;
    }
    .fetures{
        padding-top: 20px;
    }
    .fetures .feature-list .items{
        padding:8px;
        flex: 1 0 calc(100% - 10px);
        font-size: 12px;
    }
    .features-details .title{font-size: 15px;}
    .features-details .details-items::after{display: none;}

    .features-details .details-items {
        padding:20px 10px !important;
    }
    .features-details .details-items .title-details-items{
        padding:15px;
        font-size: 22px;
    }
    .features-details .details-items .text{
        padding: 0 15px;
    }
}