@import '../../../assets/scss/variable';

.navbar {
    background: $blue;
    padding: 0px;
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $white;
                padding: 15px;
                font-family: "Futura Std Book";
                cursor: pointer;
            }
            .dropdown-toggle {
                &::after {
                    margin-left: 8px;
                }
            }
            &.active {
                background: $theme-red;
            }
        }
    }
}
.navbar-light .navbar-toggler svg{height: 30px;width: 30px;}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
  }