<nav class="navbar  navbar-expand-lg navbar-light " #navbar>
    <div class="container">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active"  routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link text-uppercase"   routerLink="home" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle d-flex align-items-center text-uppercase" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Degree programs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" >Action</a>
                <a class="dropdown-item" >Another action</a>
                <a class="dropdown-item" >Something else here</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </nav>
