<app-tool-bar></app-tool-bar>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<button (click)="backToTop()" id="myBtn" title="Go to top" > <img src="../../assets/imgs/up-icon.png" alt="top-icon"> Top</button>