/* You can add global styles to this file, and also import other style files */

@import './assets/scss/font';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (max-width:991px) {
        .container{
            max-width: 100%;
        }
}