@import '../../../assets/scss/variable';


.footer {
    background: $blue;
    color:$white;    
    padding: 15px;
    font-family: "Myriad Pro Regular";
    a {
        cursor: pointer;
    }
}

@media (max-width:767px){
   .footer{text-align: center;}
}