<footer class="footer ">
    <div class="container d-block d-md-flex d-lg-flex justify-content-between">
        <div >© University of Houston-Downtown 2016 | All Rights Reserved.</div>
        <div> <a class="mr-2" >Home</a>  | <a class="ml-2" >Degree Programs</a> </div>
    </div>
</footer>